*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body{
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 60px;
    background-color: rgb(11, 204, 230);
}
h1{
    text-align: center;
}

#Chicken{
    border: 3px solid black;
    
    padding-top: 0px;
    position: relative;
    background-color: #FADCD9;
    margin-top: 30px;
    margin-bottom: 20px;
    
}

#Chicken div{
    top: 0;
    right: 0;
    background-color: pink;
    float: right;
    border: 3px solid black;
    border-top: 0;
    border-right: 0;
    padding: 7px;
    clear: left;
    font-weight: bold;
    margin-top: 0;
    margin-right: 0;

}

#Chicken p{

    text-align: justify;
    clear: both;
    padding-top: 5px;
    margin-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}
/* --------------------------------------------------- */
#Beef{
    border: 3px solid black;
    
    padding-top: 0px;
    position: relative;
    background-color: rgb(238, 157, 147);
    margin-top: 30px;
    margin-bottom: 20px;
}

#Beef div{
    top: 0;
    right: 0;
    background-color: rgb(218, 93, 84);
    float: right;
    border: 3px solid black;
    border-top: 0;
    border-right: 0;
    padding: 7px;
    clear: left;
    position: relative;
    font-weight: bold;
    margin-top: 0;
    margin-right: 0;
}

#Beef p{
    text-align: justify;
    clear: both;
    padding-top: 5px;
    margin-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

/* --------------------------------------------------- */
/* MOBILE PHONE  */
#Sushi{
    border: 3px solid black;
    padding-top: 0px;
    background-color: #E1C340;
    margin-top: 30px;
    margin-bottom: 20px;
}

#Sushi div{
    top: 0;
    right: 0;
    background-color: rgb(235, 220, 9);
    float: right;
    border: 3px solid black;
    border-top: 0;
    border-right: 0;
    padding: 7px;
    clear: left;
    position: relative;
    font-weight: bold;
    margin-top: 0;
    margin-right: 0;
}

#Sushi p{
    /* top:3px; */
    text-align: justify;
    clear: both;
    padding-top: 5px;
    margin-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

/* --------------------------------------------------- */
/* TABLET */
@media(min-width:768px) and (max-width:991px){

    #Chicken{
        width: 48%;
        float: left;
        clear: left;
    }

    #Beef{
        width: 48%;
        float: right;
    }

    #Sushi{
        display: inline-block; 
    } 

}

/* --------------------------------------------------- */
/* DESKTOP */
@media(min-width:992px){

    #container{
        position: relative;
    }
    #Chicken{
        width: 33%;
        float: left;
    }

    #Beef{
        width: 33%;
        float: left;
        margin-left: 4px;
    }

    #Sushi{
        width: 33%;
        float: left; 
        margin-left: 4px;
    } 

}
